.dwell-time-input--input {
  color: white;
  background-color: transparent;
  height: 80px;
  width: 150px;
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
  border: none;
}

.dwell-time-input--input:hover {
  border-bottom: 1px solid white;
}

.dwell-time-input--units-label {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}